#products-list div{
    width: 29%;
    height: 500px;
    border: solid;
    margin: 2%;
    display :flex;
    align-items: center;
    flex-direction: column;
}
#products-list div img{
    width: 29%;
    height: 250px;
}
#products-list div p{
    font-size :2em;
}
#products-list{
    padding: 20px;
    margin: 20px;
    display :flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items : center;
}